
@{
    ViewData["Title"] = "Configurations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="Configuration">
    <div class="divHeader">

        <h2 style="color: white;" class="text-center">Agregue el catalogo que necesite</h2>


    </div>


    <!--ADD NEW USER-->
    <div class="form-group row">
        <label class="control-label col-sm-2 offset-md-2" for="NewUsername">Agregar Nuevo Usuario</label>
        <div class="col-sm-4 input-group">

            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-file-alt"></i></span>
            </div>
            <input type="text" class="form-control" id="NewName" placeholder="Nombre del Usuario">
        </div>
        <div class="col-sm-1 input-group">
            <button data-menu="1" type="button" class="btn btn-success btn_big CatalogMenu">
                <i class="fas fa-angle-right"></i> Add
            </button>
        </div>

    </div>

    <div class="form-group row">
        <div class="col-sm-4 offset-md-4 input-group">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-file-alt"></i></span>
            </div>
            <input type="text" class="form-control" id="NewUsername" placeholder="ID del usuario para ingresar">
        </div>

    </div>

    <div class="form-group row">
        <div class="col-sm-4 offset-md-4 input-group">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-file-alt"></i></span>
            </div>
            <input type="password" class="form-control" id="NewPassword" placeholder="Agregar Contrasena">
        </div>
       
    </div>

    <!--ADD NEW CONTAINER-->
    <div class="form-group row">
        <label class="control-label col-sm-2 offset-md-2" for="NewContainer">Agregar Nuevo Contenedor</label>
        <div class="col-sm-4 input-group">

            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-file-alt"></i></span>
            </div>
            <input type="text" class="form-control" id="NewContainer" placeholder="Nombre del Contenedor">
        </div>
        <div class="col-sm-1 input-group">
            <button data-menu="2" type="button" class="btn btn-success btn_big CatalogMenu">
                <i class="fas fa-angle-right"></i> Add
            </button>
        </div>

    </div>
    <!--ADD NEW CUSTOMER-->
    <div class="form-group row">
        <label class="control-label col-sm-2 offset-md-2" for="NewCustomerName">Agregar Nuevo Cliente</label>
        <div class="col-sm-4 input-group">

            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-file-alt"></i></span>
            </div>
            <input type="text" class="form-control" id="NewCustomerName" placeholder="Nombre de la Empresa o cliente">
        </div>
        <div class="col-sm-1 input-group">
            <button data-menu="3" type="button" class="btn btn-success btn_big CatalogMenu">
                <i class="fas fa-angle-right"></i> Add
            </button>
        </div>

    </div>

    <div class="form-group row">
        <div class="col-sm-4 offset-md-4 input-group">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-file-alt"></i></span>
            </div>
            <input type="text" class="form-control" id="NewCustomerAdress" placeholder="Nombre de la direccion del cliente">
        </div>

    </div>

    <div class="form-group row">
        <div class="col-sm-4 offset-md-4 input-group">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-file-alt"></i></span>
            </div>
            <input type="text" class="form-control" id="NewCustomerPhone" placeholder="Agregar telefono">
        </div>
        

    </div>
   

    <!--ADD NEW PRODUCT-->
    <div class="form-group row">
        <label class="control-label col-sm-2 offset-md-2" for="NewProduct">Agregar Nuevo Producto</label>
        <div class="col-sm-4 input-group">

            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-file-alt"></i></span>
            </div>
            <input type="text" class="form-control" id="NewProduct" placeholder="Nombre del Producto">
        </div>
        <div class="col-sm-1 input-group">
            <button data-menu="4" type="button" class="btn btn-success btn_big CatalogMenu">
                <i class="fas fa-angle-right"></i> Add
            </button>
        </div>

    </div>






</section>


@section Scripts
    {
    <script>

        function ConfirmationAlert(msj) {
            var txt;
            if (confirm("Deseas agregar un nuevo " + msj + "?")) {
                
            } else {
                return;
            }
        
        }

        $(".CatalogMenu").on("click", function (e) {
           
            var MenuCatalog = $(this).attr("data-menu");
            var url = '';
            var msj = '';
            var data = new FormData();
           
            switch (MenuCatalog) {
                case '1':
                    // code block
                    msj = 'Usuario';
                    var NewName = $('#NewName').val();
                    var NewUsername = $('#NewUsername').val();
                    var NewPassword = $('#NewPassword').val();

                    if (NewName.length < 2) {
                        alert('Favor de capturar el nombre');
                    }
                    else {
                        if (NewUsername.length < 2) {
                            alert('Favor de capturar el Username para que el usuario ingrese al sistema');
                        }
                        else {
                            if (NewPassword.length < 6) {
                                alert('El password debe de tener mas de 6 caracteres');
                            }
                            else {
                                ConfirmationAlert(msj);
                                data.append("Username", NewName);
                                data.append("UserID", NewUsername);
                                data.append("Password", NewPassword);

                                url = '@Url.Action("AddNewUser", "Configuration")';
                                AddCatalog(url, data);
                            }
                        }
                    }


                    break;
                case '2':
                    // code block
                    msj = 'Contenedor';
                    var NewContainer = $('#NewContainer').val();


                    if (NewContainer.length < 2) {
                        alert('Favor de capturar el Contenedor');
                    }
                    else {
                        ConfirmationAlert(msj);
                        data.append("Container", NewContainer);


                        url = '@Url.Action("AddNewContainer", "Configuration")';
                        AddCatalog(url, data);
                    }


                    break;
                case '3':
                     // code block
                    msj = 'Cliente';
                    var NewCustomerName = $('#NewCustomerName').val();
                    var NewCustomerAdress = $('#NewCustomerAdress').val();
                    var NewCustomerPhone = $('#NewCustomerPhone').val();

                    if (NewCustomerName.length < 2) {
                        alert('Favor de capturar el nombre de la empresa o cliente');
                    }
                    else {
                        if (NewCustomerAdress.length < 2) {
                            alert('Favor de capturar la direccion del cliente');
                        }
                        else {
                            if (NewCustomerPhone.length < 6) {
                                alert('Favor de agregar el numero telefonico completo');
                            }
                            else {
                                ConfirmationAlert(msj);
                                data.append("CustomerName", NewCustomerName);
                                data.append("CustomerAdress", NewCustomerAdress);
                                data.append("CustomerPhone", NewCustomerPhone);

                                url = '@Url.Action("AddNewCustomer", "Configuration")';
                                AddCatalog(url, data);
                            }
                        }
                    }
                    break;
                case '4':
                      // code block
                    msj = 'Producto';
                    var NewProduct = $('#NewProduct').val();


                    if (NewProduct.length < 2) {
                        alert('Favor de capturar el Nombre del Producto');
                    }
                    else {
                        ConfirmationAlert(msj);
                        data.append("ProductName", NewProduct);


                        url = '@Url.Action("AddNewProduct", "Configuration")';
                        AddCatalog(url, data);
                    }
                    break;
                case '5':
                    // code block
                    ConfirmationAlert();
                    break;
                default:
                    break;
                // code block
            }

                debugger;
           

        });

        function AddCatalog(url, data) {
            debugger;
            var urlR = '@Url.Action("Configurations", "Home")';

            debugger;
            $.ajax({
                url: url,
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                assign: false,
                method: "post",
                success: function (r) {
                    debugger;
                    if (r.bandera == 'false') {
                        alert(r.message);
                    }
                    else {
                      
                        alert(r.message);     
                        window.location.href = urlR;

                        

                    }

                },
                error: function () {

                    alert("Error intentalo mas tarde o comuniquese con su proveedor");
                }
            });

        }
                       

    </script>

}



