@using SCM.ViewModel;
@model HistoryVM;

@{
    ViewData["Title"] = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<section class="History">
    <div class="divHeader">

        <h2 style="color: white;" class="text-center">Historial de todos los manifiestos</h2>


    </div>
    <form action="@Url.Action("History","Home")" method="post">


        <div class="row">
            <!--INITIAL DATE-->
            <label class="control-label col-sm-1 offset-md-1" for="InitialDateVal">Fecha I:</label>
            <div class="col-sm-3 input-group">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div>
                <input type="date" name="InitialDate" value="@DateTime.Now.Date.AddDays(-7).ToString("dd-MMMM-yy")" class="form-control" id="InitialDateVal" placeholder="Seleccionar una Fecha">
            </div>

            <!--FINAL DATE-->
            <label class="control-label col-sm-1" for="FinalDateVal">Fecha F:</label>
            <div class="col-sm-3 input-group">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div>
                <input type="date" name="FinalDate" value="@DateTime.Now.Date.ToString("dd-MMMM-yy");" class="form-control" id="FinalDateVal" placeholder="Seleccionar una Fecha">
            </div>
            <!--INITIAL DATE-->

            <input style="display:none;" type="number" name="type" value="1" class="form-control" />

            <div class="col-sm-1 input-group">
                <button type="submit" class="btn btn-success btn_big FilterbyDates">
                    <i class="fas fa-angle-right"></i> Filtrar
                </button>
            </div>
        </div>
    </form>
    <form action="@Url.Action("History","Home")" method="post">
        <div class="row" style="margin-top:20px;">
            <!--CUSTOMERS-->
            <label class="control-label col-sm-1 offset-md-1" for="CustomersFVal">Cliente:</label>
            <div class="col-sm-3 input-group">

                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div>


                <select name="CustomerName" class="form-control" id="CustomersFVal">
                    <option value="0">All</option>
                    @{foreach (var item in Model.Data.Customers)
                        {
                            <option value="@item.CustomerID">@item.CustomerName</option>
                        }
                    }

                </select>
            </div>

            <!--PRODUCTS-->
            <label class="control-label col-sm-1" for="ProductFVal">Producto:</label>
            <div class="col-sm-3 input-group">

                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div>

                <select name="ProductName" class="form-control" id="ProductFVal">
                    <option value="0">All</option>
                    @{foreach (var item in Model.Data.Products)
                        {
                            <option value="@item.ProductID">@item.ProductName</option>
                        }
                    }

                </select>
            </div>
            <!--INITIAL DATE-->

            <input style="display:none;" type="number" name="type" value="3" class="form-control" />

            <div class="col-sm-1 input-group">
                <button type="submit" class="btn btn-success btn_big FilterbyCustomer">
                    <i class="fas fa-angle-right"></i> Filtrar
                </button>

            </div>

        </div>
    </form>


    <form action="@Url.Action("History","Home")" method="post">
        <!--FILTER FOR THE STATUS OF THE DOCUMENT-->
        <div class="sales_actions row" style="margin-top:20px;">
            <label class="control-label col-sm-1 offset-md-1" for="FindDocument">Manifiesto:</label>
            <div class="col-sm-3 input-group">

                <div class="input-group-append">
                    <span class="input-group-text"><i class="fas fa-battery-half"></i></span>
                </div>

                <input name="DocumentID" min="0" type="number" class="form-control" id="FindDocument" placeholder="Agrege el manifiesto">


            </div>
            <!--INITIAL DATE-->

            <input style="display:none;" type="number" name="type" value="2" class="form-control" />

            <div class="col-sm-2 input-group">
                <button type="submit" class="btn btn-success btn_big FilterbyDocument">
                    <i class="fas fa-angle-right"></i> Filtrar
                </button>
            </div>

        </div>
    </form>

    <div>
        <div class="col-sm-2 offset-md-7 input-group">
            <form action="@Url.Action("ExportV2","Document")" method="get">
                <button type="submit" class="btn btn-success btn_big FilterDocumentsS">
                    <i class="fas fa-angle-right"></i> Descargar a Excel
                </button>
            </form>
        </div>
    </div>




    <div class="sales_table row" style="margin-top:20px;">
        <div class="col-sm-10 offset-md-1">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>

                        <th scope="col">Manifiesto</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Empleado</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Unidad</th>


                        <th scope="col">Contenedor</th>
                        <th scope="col">Tipo de Manejo</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Editar</th>
                    </tr>
                </thead>
                <tbody class="thead-light">
                    @foreach (var item in Model.ListHistory)
                    {
                    <tr>

                        <td>@item.DocumentId</td>
                        <td>@item.CustomerName</td>
                        <td>@item.UserName</td>
                        <td>@item.ProductName</td>
                        <td>@item.Quantity</td>
                        <td>@item.Unit</td>
                        <td>@item.ContainerName</td>
                        <td>@item.ManagementName</td>
                        <td>@item.CreationDate.Value.ToString("dd-MMMM-yy")</td>
                        <td>
                           

                            <button data-documentID="@item.DocumentId" type="button" class="btn btn-danger btn_big EditDocumentHistorybtn">
                                <i class="fas fa-edit"></i>
                            </button>

                        </td>


                    </tr>

                    }

                </tbody>
                <tfoot style="text-align: center;">
                <td colspan="9">Manifiesto creados hasta la fecha</td>
                </tfoot>
            </table>

        </div>


    </div>


</section>
<div class="Actions row" style="margin-top:20px;">
    <!--FILTER FOR THE STATUS OF THE DOCUMENT-->

    <div class="col-sm-8 offset-md-2 input-group">
        <button style="width: 100%; text-align:center;" type="button" class="btn btn-danger btn_big ImportDocument">
            <i class="fas fa-angle-right"></i> Importar Manifiestos
        </button>
    </div>

</div>


@section Scripts
    {
    <script>
          
        $(".ImportDocument").on("click", function (e) {

                var url = '@Url.Action("ImportDocument", "Document")';
                var urlR = '@Url.Action("History", "Home")';
                $.ajax({
                    url: url,

                    cache: false,
                    contentType: false,
                    processData: false,
                    assign: false,
                    method: "post",
                    success: function (r) {
                        debugger;
                        if (r == 'true') {
                            alert('Se Importaron todos los manifiestos que se completaron anteriormente!');
                            window.location.href = urlR;
                        }
                        else {

                                alert('Hubo un '+r+', si el error continua contacte a su proveedor');

                        }

                    },
                    error: function () {

                        alert("Error intentalo mas tarde");
                    }
                });
            });

        
         $(".EditDocumentHistorybtn").on('click', function () {
            debugger;
            let DocumentID = $(this).attr('data-documentID');
            let url = '@Url.Action("EditHistory", "Home")?DocumentID=' + DocumentID;
         
            window.location.href = url;
        });
    </script>

}
