@using SCM.ViewModel;
@model List<DocumentsVM>;
@{
    ViewData["Title"] = "Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<section class="StatusPage">
    <div class="divHeader">

        <h2 style="color: white;" class="text-center">Gestion de Manifiestos</h2>


    </div>

    <div class="sales_actions row">
        <!--FILTER FOR THE STATUS OF THE DOCUMENT-->

        <label class="control-label col-sm-2 offset-md-2" for="StateFilterVal">Estado del manifiesto:</label>
        <div class="col-sm-4 input-group">

            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-battery-half"></i></span>
            </div>

            <select class="form-control" id="StateFilterVal">
                <option>Pendientes por capturar</option>
                <option>Finalizadas</option>

            </select>


        </div>
        <div class="col-sm-2 input-group">
            <button type="button" class="btn btn-success btn_big FilterDocumentsS">
                <i class="fas fa-angle-right"></i> Filtrar
            </button>
        </div>
          
        </div>
        <div class="sales_table row" style="margin-top:20px;">
            <div class="col-sm-8 offset-md-2">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>

                            <th scope="col">Manifiesto</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Empleado</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Editar</th>
                        </tr>
                    </thead>
                    <tbody class="thead-light">
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>@item.DocumentID</td>
                                <td>@item.Customer</td>
                                <td>@item.Status</td>
                                <td>@item.UserName</td>
                                <td>@item.CreationDate.Date</td>
                                <td>
                                    @if (@item.Status != "Finalizado")
                                    {

                                    <button data-documentID="@item.DocumentID" type="button" class="btn btn-primary btn_big CompleteDocumentbtn">
                                        <i class="fas fa-check-double"></i>
                                    </button>

                                    }

                                    <button data-documentID="@item.DocumentID" type="button" class="btn btn-danger btn_big EditDocumentbtn">
                                        <i class="fas fa-edit"></i>
                                    </button>

                                </td>
                            </tr>

                        }




                    </tbody>
                    <tfoot style="text-align: center;">
                    <td colspan="6">Manifiesto creados hasta la fecha</td>
                    </tfoot>
                </table>

            </div>


        </div>
</section>

  


@section Scripts
    {
    <script>
        $(".CompleteDocumentbtn").on('click', function () {
            debugger;
            let DocumentID = $(this).attr('data-documentID');
            let url = '@Url.Action("CompleteDocument", "Status")?DocumentID=' + DocumentID;
         
            window.location.href = url;
        });

         $(".EditDocumentbtn").on('click', function () {
            debugger;
            let DocumentID = $(this).attr('data-documentID');
            let url = '@Url.Action("EditDocument", "Status")?DocumentID=' + DocumentID;
         
            window.location.href = url;
        });

    </script>
}
