@using Microsoft.AspNetCore.Http

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SCM</title>
    <link href="~/css/Menu.css" rel="stylesheet" />
    <environment include="Development">

  
        <link href="~/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet" />
    </environment>
    <script src="https://kit.fontawesome.com/5e83a4e86e.js"></script>

</head>
<body>



    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        @*<a class="navbar-brand" href="#">
            <img class="Logo d-inline-block align-top" src="~/images/logo.png" alt="">
        </a>*@
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">

                    <a class="nav-link" asp-action="Home" asp-controller="Home">Inicio<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Status" asp-controller="Home">Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="History" asp-controller="Home">Historial</a>
                </li>



                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Configuraciones
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">

                        <a class="dropdown-item" asp-action="Customer" asp-controller="Customer">Agregar Usuario</a>
                        <a class="dropdown-item" asp-action="Product" asp-controller="Configuration">Agregar Producto</a>



                    </div>
                </li>

            </ul>
            @{if (@Context.Session.GetString("UserS") == "User")
                {

                    <form class="form-inline" asp-controller="Home" asp-action="Login" method="post">
                        <button class="btn btn-outline-primary" type="submit">Iniciar Session</button>
                    </form>


                }
                else
                {
                    <span class="navbar-text username" style="margin-right:20px; font-weight:bold;">
                        @Context.Session.GetString("UserS")
                    </span>
                    <form class="form-inline" asp-controller="Home" asp-action="Index" method="post">
                        <button class="btn btn-outline-primary">Salir</button>
                    </form>
                 
                }

            }
        </div>
    </nav>
    <main class="body-content main_content">
        @RenderBody()



    </main>
    <nav class="navbar fixed-bottom navbar-light bg-light">
       
        <p style="text-align:center;">&copy; 2019 - Sistema de Gestion de Manifiestos</p>
    </nav>

    <environment include="Development">
        <script src="~/js/jquery.js"></script>
        <script src="~/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>


    </environment>
    <environment exclude="Development">
        <script src="~/js/jquery.js"></script>
        <script src="~/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>

    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
